.body{
    width: 125px;
    height: 125px;
    /* background-color: aqua; */
    border-radius: 50%;
    position: absolute;
}

.container{
    width: 800px;
    height: 500px;
    background:linear-gradient(skyblue, 30%, white);
    position: relative;
    border: 1px solid black;
}

.body1{
    background-color: blue;
    background-position: 100px 100px;
    left: 125px;
    top: 125px;
}

.body2{
    background-color: rgb(63, 95, 252);
    background-position: 100px 100px;
    left: 200px;
    top: 180px;
}

.body3{
    background-color: rgb(93, 139, 255);
    background-position: 100px 100px;
    left: 250px;
    top: 240px;
}

.body4{
    background-color: rgb(46, 175, 255);
    background-position: 100px 100px;
    left: 280px;
    top: 300px;
}

.body5{
    background-color: rgb(144, 203, 255);
    background-position: 100px 100px;
    left: 360px;
    top: 350px;
    z-index: 10;
}

.eye-B{
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 38px;
    z-index: 3;
}

.eye-W{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 2;
}

.image-grass{
    /* background-image: url("/02_css/img/grass.png"); */
    /* background-position: bottom center; */
    /* background-repeat: no-repeat; */
    background: url('/02_css/img/grass.png') no-repeat bottom center/contain ;
    position: absolute;
    /* background-size: contain; */
    /* border: 1px solid red; */
    width: 800px;
    height: 500px;
}
