.square{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    cursor: pointer;
    line-height: 200px;
    text-align: center;
    margin: 10px;
}

.d-none:hover{
    display: none;
    transition-delay: 1s;
}

.invisible:hover{
    visibility: hidden;
    transition-delay: 1s;
}

.opacity-0:hover{
    opacity: 0;
    transition-delay: 1s;
}

/* 테두리 그리기 */
.border{
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    display: inline-block;
    border: 2px solid brown;
}

.border-width{
    border: 5px solid brown;
}

.border-style{
    border: 2px dotted brown;
}

.border-color{
    border: 2px solid blue;
}

.border-vari{
    border-top: 1px solid brown;
    border-right: 5px dotted rgb(27, 184, 63);
    border-bottom: 10px dashed aqua;
    border-left: 5px brown;
}

/* radius사용해보기 */
.border-radius{
    border-radius: 10px 50px 70px 100px;
}