<!-- 공통된 css나 공통된 bootstrap cdn을 각 페이지에 빠르게 넣을수 있는 방법  -->
<title>lychee의 페이지 | <%=title%></title>

<!-- commonCSS -->
<link rel="stylesheet" href="/static/css/common.css">

<!-- bootstrap, jQuery,fontawesome...등 
  모든 페이지에 공통적으로 쓰일 CDN -->